<footer>
    <div class="footer-content">
        <p><span class="themecolor">Developing Team:</span></p>
        <p>Isabella Kreller</p>
        <p>Stefan Braun</p>
    </div>
    <div class="footer-content">
        <p>URslides project</p>
        <p>Fakultät für Sprach-, Literatur-, und Kulturwissenschaften</p>
        <p>Universität Regensburg</p>
    </div>
</footer>