html {
    margin: 0;
}

body {
    margin: 0;
    background: #FAFAFA;
    font-family: 'Manjari', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #111111;
    text-align: center;
}

h1 {
    width: 98vw;
    margin: 0;
    padding: 1vw;
    background-color: #333;
    border-style: solid;
    border-width: 0 0 0.25vh 0;
    border-color: #FFF;
    color: #FAFAFA;
}

.themecolor {
    color: #ff2453;
}

header {
    width: 95%;
    margin: 1em auto 0 auto;
    font-size: 1.5em;
    overflow: hidden;
}

#slides-name {
    float: left;
    min-height: 1em;
    width: 33.3%;
    text-align: left;
}

#headline {
    float: left;
    width: 33.3%;
    border-bottom: 2px solid #f1f1f1;
}

#head-btn {
    float: right;
    align-content: right;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
}

.homecontent {
    width: 50%;
    margin: 10vh auto;
}

.homecontent p {
    font-size: 2em;
}

.upload-btn {
    width: 7vw;
    max-width: 120px;
    height: 7vw;
    max-height: 120px;
    line-height: 1vw;
    font-size: 5vw;
    padding-top: 0.4rem;
    padding-bottom: 0;
    color: #ff2453;
}

.upload-img {
    width: 100%;
}

hr {
    width: 70%;
    border-color: #f1f1f1;
    border-width: 2px;
}

.search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    width: 90%;
    margin: 12rem auto 0 auto;
    border-top: 2px solid #ff2453;
    padding-top: 1em;
    font-size: 0.7em;
}

footer div {
    width: 50%;
    float: left;
}

/*css for reader.html*/
#navline {
    width: 95%;
    height: 4em;
    margin: 1em auto;
    background: #ff2453;
}

#reader-wrapper {
    width: 90%;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
}

#reader {
    float: left;
    width: 40%;
    height: 60vh;
    position: absolute;
}

#reader-nav {
    float: center;
    max-width: 400px;
    width: 50%;
    margin: 0 25%;
    position: absolute;
    overflow: hidden;
}

#btn-previous {
    float: left;
}

#page-num {
    float: left;
    margin: 0 2vw;
}

#btn-next {
    float: left;
}

#comment-section-wrapper {
    float: right;
    width: 60%;
    height: 70vh;
    position: relative;
}
#comments-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-comment {
    width: 90%;
    margin: 0 auto 2vh auto;
    text-align: left;
    border: 2px solid #ff2453;
    border-radius: .5rem;
    border-top-left-radius: 0;
    padding: 1.7vh;
}

#comment-height-correction {
    width: 100%;
    height: 15%;
}

#input-area {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
}

#input-area textarea {
    width: 90%;
    height: 100%;
    float: left;
}

#btn-send {
    float: left;
    width: 10%;
    height: 100%;
}

/*css for search.html*/
#search-page-input {
    width: 70%;
    margin: 1em auto;
}

#results {
    width: 95vw;
    margin: 3vh auto;
    overflow: hidden;
}

.result-wrapper {
    width: 15%;
    margin: 2.5vh 0.8% 2.5vh 0.8%;
    float: left;
    border: 2px solid #999;
    background: #f1f1f1;
    border-radius: .25rem;
}

#results img {
    width: 90%;
    margin: 0 auto;
}

.result-name {
    margin-top: 1vh;
    font-size: 1.2rem;
    border-top: 1px solid #999;
    padding-top: 0.4rem;
}

/*bootstrap changes*/
.btn-outline-danger {
    border-color: #ff2453;
    background: #f1f1f1;
}

.btn-outline-danger:hover{
    border-color: #ff2453;
    background:  #ff2453;
}

.btn-outline-danger:active{
    border-color: #ff2453;
    background:  #ff2453;
}

.btn-danger {
    border-color: #ff2453;
    background:  #ff2453;
}

.btn-danger:hover{
    border-color: #d42148;
    background:  #d42148;
}

.btn-danger:active{
    border-color: #ff2453;
    background:  #ff2453;
}