html {
    margin: 0;
}

body {
    margin: 0;
    background: #FAFAFA;
    font-family: 'Manjari', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #111111;
    text-align: center;
}

h1 {
    width: 98vw;
    margin: 0;
    padding: 1vw;
    background-color: #333;
    border-style: solid;
    border-width: 0 0 0.25vh 0;
    border-color: #FFF;
    color: #FAFAFA;
}

.hidden {
    display: none;
}

.themecolor {
    color: #ff2453;
}

.theme-bg {
    background: #ff2453;
}

header {
    width: 95%;
    margin: 1em auto 0 auto;
    font-size: 1.5em;
    overflow: hidden;
}

#name-wrapper{
    float: left;
    width: 33.3%;
    min-height: 1em;
}

#headline {
    float: left;
    width: 33.3%;
    border-bottom: 2px solid #f1f1f1;
}

.homecontent {
    width: 50%;
    margin: 10vh auto;
}

.homecontent p {
    font-size: 2em;
}

.upload-btn {
    width: 7vw;
    max-width: 120px;
    height: 7vw;
    max-height: 120px;
    line-height: 1vw;
    font-size: 5vw;
    padding-top: 0.4rem;
    padding-bottom: 0;
    color: #ff2453;
}

#upload-wrapper {
    width: 60%;
    margin: 0 auto;
}

#confirm-upload {
    margin: 2rem 0;
}

#progress-label {
    margin-top: 2rem;
    font-size: 1.5em;
}

.progress {
    height: 3px;
    margin: 1em auto;
}

hr {
    width: 70%;
    border-color: #f1f1f1;
    border-width: 2px;
}

.border-edge-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.border-edge-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.boder-edge-left-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

footer {
    width: 90%;
    margin: 12rem auto 0 auto;
    border-top: 2px solid #ff2453;
    padding-top: 1em;
    font-size: 0.7em;
}

footer div {
    width: 50%;
    float: left;
}

/*css for reader.html*/
#back-btn {
    float: left;
    min-height: 1em;
    width: 5%;
    text-align: left;
}

#slides-name {
    float: left;
    min-height: 1em;
    width:auto;
    text-align: left;
    display: inline-block;
}

#edit-symbol {
  float: left;
  text-align: left;
}

#name-wrapper {
  display: inline-block;
}

#publish-btn {
    float: right;
    align-content: right;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
}

#navline {
    width: 95%;
    height: 4em;
    margin: 1em auto;
    background: #ff2453;
}

#reader-wrapper {
    width: 90%;
    margin: 1em auto;
    overflow: hidden;
}

#reader {
    float: left;
    width: 40%;
    height: 70vh;
}

#reader-nav {
    width: inherit;
    position: absolute;
}

#btn-previous {
    float: left;
}

#page-num {
    float: left;
    margin: 0 2vw;
}

#btn-next {
    float: left;
}

#comment-section-wrapper {
    float: right;
    width: 60%;
    height: 70vh;
    position: relative;
}

#comments-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-comment {
    width: 90%;
    height: fit-content;
    margin: 0 auto 2vh auto;
    text-align: left;
    border: 2px solid #ff2453;
    border-radius: .5rem;
    border-top-left-radius: 0;
}

.text-comment .comment-content {
    padding: 1.7vh;
    word-wrap: break-word;
    line-break: auto;
    white-space: pre;
}

.toolbar {
    width: 100%;
    height: 0;
    padding-top: 1vh;
    padding-right: 1vh;
}

.toolbar button {
    width: 2em;
    height: 2em;
    float: right;
    padding-top: 0.2em;
    border-radius: 50%;
    border: none;
    background: none;
    color: #ff2453;
    font-weight: bolder;
}

.toolbar button:hover {
    background: #ff2453;
    color: white;
}

.audio-comment {
    width: 90%;
    margin: 0 auto 2vh auto;
    border: 2px solid #ff2453;
    border-radius: .5rem;
    border-top-right-radius: 0;
    background: #333;
}

#comment-height-correction {
    width: 100%;
    height: 35%;
}

#input-area {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
}

.show-record {
    width: 90%;
    height: 22%;
    margin: 0 auto;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background: #fff;
    border: 2px solid #ff2453;
    border-bottom: none;
}

#recording-section {
    width: 90%;
    height: 22%;
    margin: 0 auto;
}

#recording-items-wrapper {
    overflow: hidden;
}

#recording-section .btn {
    float: right;
    width: 25%;
    height: 80%;
    margin-top: 0.45vh;
    margin-right: 0.5vw;
}

#time-display {
    width: 10%;
    float: left;
    margin-top: 1.5vh;
    margin-left: 2%;
    margin-bottom: 0;
}

.close {
    float: right;
    margin-right: 0.5vw;
}

#main-menu {
    width: 100%;
    height: 78%;
    border-radius: .5rem;
    background: #ff2453;
}

#comment-input {
    width: 70%;
    height: 100%;
    float: left;
}

#btn-send {
    float: left;
    width: 10%;
    height: 100%;
}

#audio-btn {
    float: left;
    width: 95%;
    height: 45%;
    margin-left: 2.5%;
    margin-bottom: 0.9vh;
}

#video-btn {
    float: left;
    width: 95%;
    height: 45%;
    margin-top: 0.9vh;
    margin-left: 2.5%;
}

#audio-section {
    float: left;
    width: 95%;
    height: 50%;
}

#video-section {
    float: left;
    width: 95%;
    height: 50%;
}

#add-comments-section {
    width: 20%;
    height: 100%;
    float: left;
    margin: 0 auto;
}

/*css for search.html*/
#head-upload-btn {
    float: right;
}
#search-page-input {
    width: 70%;
    margin: 1em auto;
}

#results {
    width: 95vw;
    margin: 3vh auto;
    overflow: hidden;
}

.result-wrapper {
    width: 12.68%;
    margin: 2.5vh 0.8% 2.5vh 0.8%;
    float: left;
    border: 2px solid #999;
    background: #f1f1f1;
    border-radius: .25rem;
    color: #ff2453;
}

.result-wrapper:hover {
    border-color: #ff2453;
}

.result-wrapper:hover .result-name{
    border-color: #ff2453;
    background: #ff2453;
    color: white;
}

#results img {
    width: 90%;
    margin: 0 auto;
}

.canvas-wrapper {
    width: 100%;
    height: 20vh;
    background-image: url("/img/document_glyph.png");
    background-repeat: no-repeat;
    background-position: center;
}

.result-name {
    height: 4rem;
    margin-top: 1vh;
    font-size: 1.2rem;
    border-top: 1px solid #999;
    padding-top: 0.4rem;
    word-wrap: break-word;
}


/*bootstrap changes*/
.btn-outline-danger {
    border-color: #ff2453;
    background: #FFF;
}

.btn-outline-danger:hover{
    border-color: #ff2453;
    background:  #ff2453;
}

.btn-outline-danger:active{
    border-color: #ff2453;
    background:  #ff2453;
}

.btn-danger {
    border-color: #ff2453;
    background:  #ff2453;
}

.btn-danger:hover{
    border-color: #d42148;
    background:  #d42148;
}

.btn-danger:active{
    border-color: #ff2453;
    background:  #ff2453;
}
