<% include partials/top %>

<header>
    <a href="/search"><p id="back-btn" class="themecolor hidden"><strong>&lt;</strong></p></a>
    <p id="slides-name">MySlides</p>
    <p id="headline"><span class="themecolor">UR</span>slides</p>
    <a href="/search"><button id="publish-btn" class="btn btn-danger">Publish slides</button></a>
</header>

<div id="navline"></div>

<div id="reader-wrapper">
    <div id="reader">
        <p id="pdf-path" class="hidden">
            <%= path %>
        </p>
        <p id="pdf-name" class="hidden">
            <%= name %>
        </p>
        <p id="pdf-comments" class="hidden">
            <%= comments %>
        </p>
        <p id="pdf-edit" class="hidden">
            <%= edit %>
        </p>
        <div id="reader-nav"><button id="btn-previous">prev</button>
            <p id="page-num">1</p><button id="btn-next">next</button>
        </div>
        <canvas id="reader-canvas" width="200" height="400"></canvas>
    </div>
    <div id="comment-section-wrapper">
        <div id="comments-wrapper">
            <div id="comment-height-correction"></div>
        </div>
        <div id="input-area">
            <textarea class="form-control border-edge-right" id="comment-input"
                placeholder="Write a comment..."></textarea>
            <button id="btn-send" class="btn btn-outline-danger border-edge-left">send</button>
        </div>
    </div>
</div>

<% include partials/top %>

<!-- include pdf.js -->
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
<script type="module" src="/js/indexReader.js"></script>