<% include partials/top %>

<header>
    <div id="name-wrapper">
        <a href="/search">
            <p id="back-btn" class="themecolor hidden"><strong>&lt;</strong></p>
        </a>
        <p id="slides-name" contenteditable="true">MySlides</p>
    </div>
    <p id="headline"><span class="themecolor">UR</span>slides</p>
    <a href="/search"><button id="publish-btn" class="btn btn-danger">Publish slides</button></a>
</header>

<div id="navline"></div>


<div id="reader-wrapper">
    <div id="reader">
        <p id="pdf-path" class="hidden">
            <%= path %>
        </p>
        <p id="pdf-name" class="hidden">
            <%= name %>
        </p>
        <p id="pdf-comments" class="hidden">
            <%= comments %>
        </p>
        <p id="pdf-edit" class="hidden">
            <%= edit %>
        </p>
        <div id="reader-nav"><button id="btn-previous">prev</button>
            <p id="page-num">1</p><button id="btn-next">next</button>
        </div>
        <canvas id="reader-canvas" width="200" height="400"></canvas>
    </div>

    <div id="comment-section-wrapper">
        <div id="comments-wrapper">
            <div id="comment-height-correction"></div>
        </div>

        <div id="input-area">
            <textarea class="form-control border-edge-right" id="comment-input"
                placeholder="Write a comment..."></textarea>
            <button id="btn-send" class="btn btn-outline-danger border-edge-left">send</button>

            <div id="add-comments-section">
                <button id="audio-btn" class="btn btn-outline-danger">Add Audio Comment</button>

                <div id="audio-section" class="hidden">
                    <button id="audio-upload-btn" class="btn btn-outline-danger border-edge-left-right">
                        Upload Audio</button>
                    <button id="audio-record-btn" class="btn btn-outline-danger">Record Audio</button>

                    <form action="/audioupload" enctype="multipart/form-data" method="post">
                        <input type="file" accept=".mp3,audio/*" name="audio-upload" id="audio-upload" class="hidden">
                        <input type="text" name="slide" id="slide-string" class="hidden">
                        <button type="submit" id="audio-confirm-btn"></button>
                    </form>
                </div>

                <button id="video-btn" class="btn btn-outline-danger border-edge-left-right">Add Video Comment</button>
                <div id="video-section" class="hidden">
                    <form method="post">
                        <input type="file" accept=".mp4,video/*" name="video-upload" id="video-upload" class="">
                        <button type="submit" id="video-upload-btn"
                            class="btn btn-outline-danger border-edge-left-right">
                            Upload Video</button>
                    </form>
                    <button id="video-record-btn" class="btn btn-outline-danger border-edge-left-right">Record
                        Video</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/top %>

<!-- include pdf.js -->
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
<script type="module" src="/js/indexReader.js"></script>