<% include partials/top %>

<header>
    <div id="name-wrapper">
        <div id="slides-name"></div>
    </div>
    <p id="headline"><span class="themecolor">UR</span>slides</p>
    <button id="head-upload-btn" class="btn btn-danger">+</button>
</header>

<div class="input-group flex-nowrap" id="search-page-input">
    <input type="text" name="itemsearch" id="itemsearch" class="form-control" placeholder="Search for slides...">
    <button type="submit" class="btn btn-outline-danger border-edge-left" id="itemsearch-btn">Search</button>
    <a href="/reader" id="itemsearch-link" class="hidden"></a>
</div>

<div id="results">
    <% slides.forEach(slide => { %>
    <a href="/reader/<%= slide._id%>">
        <div class="result-wrapper">
            <div class="canvas-wrapper">
                <canvas class="item-canvas" width="0" height="0"></canvas>
            </div>
            <div class="result-name"><%= slide.name %></div>
        </div>
    </a>
    <% }); %>
</div>

<% include partials/footer %>
<% include partials/bottom %>

<!-- include pdf.js -->
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
<script type="module" src="/js/indexSearch.js"></script>