<% include partials/top %>

<header>
    <div id="slides-name"></div>
    <p id="headline"><span class="themecolor">UR</span>slides</p>
    <button id="head-btn" class="btn btn-danger">+</button>
</header>

<div class="input-group flex-nowrap" id="search-page-input">
    <input type="text" name="itemsearch" id="itemsearch" class="form-control" placeholder="Search for slides...">
    <button type="submit" class="btn btn-outline-danger search-btn">Search</button>
</div>

<div id="results">
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS1</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS2</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS3</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS4</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS5</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS6</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS1</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS2</div>
    </div>
    <div class="result-wrapper"><img src="/img/document_glyph.png" alt="">
        <div class="result-name">FS3</div>
    </div>
</div>

<% include partials/bottom %>

<!-- include pdf.js -->
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
<script type="module" src="/js/indexSearch.js"></script>